body {
    margin: 0;
    height: 100%;
  }
  .header {
    padding: 15px 0;
    background-color: #ffffff;
  }
  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
  }
  
  .logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
  }
  .logo-content-img {
    border: solid 0px #42515f;
  }
  
  .emp-text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
    /* display: flex;
    padding-left: 5px; */
  }
  .emp-payroll {
    color: #42515f;
}


  
  error-output {
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .form-content {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    align-items: center;
    border: 0px solid #82a70c;
    min-height: calc(100%-80px);
  }
  
  .form {
    width: 65%;
    padding: 44px 60px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid rgb(240, 235, 235);
    border-radius: 8px;
    opacity: 1;
}
  
.form-head {
    color: #42515f;
    font: normal normal bold 20px/25px Roboto;
    letter-spacing: 0px;
    text-transform: capitalize;
    padding-bottom: 20px;
    opacity: 1;
}
  .input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  .text {
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
  }
  
  .row-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    align-items: center;
    border: 0px solid green;
  }
  
  .label {
    min-width: 140px;
  }
  
  label {
    min-width: 140px;
  }
  
  .profile-radio-content {
    display: flex;
    flex-direction: row;
  }
  
  .profile-radio-content > label {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100px;
  }
  
  .profile {
    width: 60px;
    border-radius: 50%;
    margin-left: 1px;
  }
  
  select {
    padding: 12px;
    border: 1px solid #becbd6;
    border-radius: 4px;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
    resize: vertical;
}
.buttonParent {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;
}
  
  .button {
    font-size: 20px;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    border: none;
    font-weight: 400;
    min-width: 140px;
    padding: 7px 7px;
    border: px solid #707070;
    cursor: pointer;
    border-radius: 5px;
    background-color: #e2e2e2;
  }
  
  .submitButton {
    border: none;
    margin-right: 30px;
  }
  
  .cancelButton {
    text-decoration: none;
    text-align: center;
    background-color: #e2e2e2;
  }
  .submitButton:hover {
    color: white;
    background-color: #82a70c;
  }
  .resetButton:hover {
    color: white;
    background-color: #707070;
  }
  
  @media only screen and (max-width: 960px) {
      .form{
          width: 100%;
      }
    .cancelButton {
      margin-left: 0px;
    }
    .form {
      width: 85%;
      padding: 44px 20px;
    }
  
    .profile-radio-content {
      flex-wrap: wrap;
      width: 55%;
    }
  }
  @media only screen and (max-width: 1024px) {
    .profile-radio-content,
    .gender-content {
      flex-flow: wrap;
      justify-content: space-between;
    }
  
    .form {
      width: 100%;
      margin: 0;
      margin-top: 15px;
    }
    .button {
      min-width: 158px;
    }
  }
  
  @media only screen and (max-width: 640px) {
    .form {
      margin-top: 5px;
      width: 100%;
    }
    .row-content {
      flex-direction: column;
      align-items: flex-start;
    }
    .profile-radio-content {
      width: 80%;
    }
    img {
      width: 40px;
    }
    .gender-content {
      flex-flow: unset;
    }
    .checkbox-content {
      width: 100%;
    }
    label {
      flex-flow: row;
    }
    select {
      width: 120px;
      margin: 5px;
    }
    .select-content {
      display: flex;
      flex-direction: column;
    }  
  }
  
  @media only screen and (max-width: 420px) {
    
      .form-head {
          font-size: 1.2em;
      }
      .button {
          min-width: 150px;
      }
      .submit-reset {
          width: 100%;
          display: flex;
          flex-grow: 1;
          flex-direction: row-reverse;
          justify-content: space-around;
      }
      
      .buttonParent {
          flex-direction: column-reverse;
          align-items: flex-starta;
      }
      .submitButton, .resetButton {
          margin: inherit;
      }
      .checkbox-content {
          flex-flow: wrap;
      }
  }
  @media only screen and (max-width: 280px) {
      .form {
          margin-top: 5px;
          width: 100%;
      }
      .form-head {
          font-size: 1.2em;
      }
      .button {
          min-width: 80px;
      }   
      .submitButton, .resetButton {
          min-width: 95px;
      }
      .profile-radio-content, .gender-content, .checkbox-content {
          flex-flow: wrap;
      }
      .profile {
          width: 40px;
          margin: 0;
      }
      .checkbox-content{ width: 50%; }
      .profile-radio-content { width: 100%; }
      label{
          min-width: 70px;
      }
  }